<footer class="page-footer font-small light-blue pt-1">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Hidro Monitor ©
        
            <script>
                document.write(new Date().getFullYear())
            </script>
        
   <br> Desenvolvido por:
        <a href="https://www.instagram.com/viktorlvkl"> Victor Eustáquio</a>
    </div>
    <!-- Copyright -->
</footer>