<link href="../x_erro/404/error404.css" rel="stylesheet" />

<p>HTTP: <span>404</span></p>
<code><span>pagina</span>.<em>nao_encontrada</em> = true;</code>
<code><span>if</span> (<b>voce_digitou_errado</b>) {<span>tente_novamente()</span>;}</code>
<code><span>else (<b>estragamos_algo</b>)</span> {
  <em>alert</em>(<i>"Sentimos muito por isso."</i>);
  } </code>
<center><a href="/">Voltar para o início</a> </center>


<script src="../x_erro/404/404.js" type="text/javascript"></script>
